USE [OCRMDSS]
GO
/****** Object:  Table [dbo].[CustomersInfo]    Script Date: 8/14/2013 11:22:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomersInfo](
	[customerID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[businessLogo] [text] NULL,
	[businessName] [nvarchar](max) NOT NULL,
	[businessAddress] [text] NOT NULL,
	[businessTelNo] [nvarchar](15) NOT NULL,
	[businessLocalNo] [nvarchar](15) NULL,
	[businessCPNo] [nvarchar](20) NULL,
	[businessFaxNo] [nvarchar](15) NULL,
	[customerImage] [text] NULL,
	[customerLN] [nvarchar](50) NOT NULL,
	[customerFN] [nvarchar](50) NOT NULL,
	[customerEmail] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_CustomersInfo] PRIMARY KEY CLUSTERED 
(
	[customerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Deliveries]    Script Date: 8/14/2013 11:22:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Deliveries](
	[deliveryID] [int] IDENTITY(1,1) NOT NULL,
	[orderID] [int] NOT NULL,
	[detailID] [int] NOT NULL,
	[userID] [int] NOT NULL,
	[customerID] [int] NOT NULL,
	[productSerialNo] [nvarchar](50) NOT NULL,
	[productName] [nvarchar](50) NOT NULL,
	[productClass] [nvarchar](30) NOT NULL,
	[productUnitPrice] [decimal](18, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[orderDate] [date] NOT NULL,
	[deliveryDate] [date] NOT NULL,
	[deliveryMode] [nvarchar](20) NOT NULL,
	[concerns] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Deliveries] PRIMARY KEY CLUSTERED 
(
	[deliveryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmployeesInfo]    Script Date: 8/14/2013 11:22:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmployeesInfo](
	[employeeID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[employeeImage] [text] NULL,
	[employeeLN] [nvarchar](50) NOT NULL,
	[employeeFN] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EmployeesInfo] PRIMARY KEY CLUSTERED 
(
	[employeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Feedback]    Script Date: 8/14/2013 11:22:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Feedback](
	[feedbackID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[customerID] [int] NULL,
	[feedbackCommSugg] [text] NOT NULL,
	[date] [datetime] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Feedback] PRIMARY KEY CLUSTERED 
(
	[feedbackID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Inquiry]    Script Date: 8/14/2013 11:22:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inquiry](
	[inquiryID] [int] IDENTITY(1,1) NOT NULL,
	[inquiryFN] [nvarchar](50) NOT NULL,
	[inquiryLN] [nvarchar](50) NOT NULL,
	[inquiryEmail] [nvarchar](50) NOT NULL,
	[inquiryContactNo] [nvarchar](50) NOT NULL,
	[inquiryMessage] [text] NOT NULL,
	[date] [datetime] NOT NULL,
	[status] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Inquiry] PRIMARY KEY CLUSTERED 
(
	[inquiryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Inventory]    Script Date: 8/14/2013 11:22:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Inventory](
	[inventoryID] [int] IDENTITY(1,1) NOT NULL,
	[productSerialNo] [nvarchar](50) NOT NULL,
	[existingStock] [int] NOT NULL,
	[producedStock] [int] NOT NULL,
	[warehouseStock] [int] NOT NULL,
	[batchNo] [int] NULL,
	[productStatus] [nvarchar](20) NULL,
 CONSTRAINT [PK_Inventory] PRIMARY KEY CLUSTERED 
(
	[inventoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 8/14/2013 11:22:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[detailID] [int] IDENTITY(1,1) NOT NULL,
	[productID] [int] NULL,
	[orderID] [int] NOT NULL,
	[productSerialNo] [nvarchar](50) NOT NULL,
	[productName] [nvarchar](50) NOT NULL,
	[productClass] [nvarchar](30) NOT NULL,
	[productUnitPrice] [decimal](18, 2) NOT NULL,
	[quantity] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[detailID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Orders]    Script Date: 8/14/2013 11:22:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[orderID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[customerID] [int] NOT NULL,
	[orderDate] [date] NOT NULL,
	[deliveryDate] [date] NULL,
	[preferredDelivery] [date] NULL,
	[deliveryMode] [nvarchar](20) NOT NULL,
	[concerns] [nvarchar](max) NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[validation] [nvarchar](20) NULL,
	[orderStatus] [nvarchar](20) NOT NULL,
	[readyForDelivery] [nvarchar](20) NULL,
	[deliveryStatus] [nvarchar](20) NOT NULL,
	[paymentStatus] [nvarchar](20) NULL,
	[paymentReceiptNo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[orderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductClass]    Script Date: 8/14/2013 11:22:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductClass](
	[productClassID] [nvarchar](50) NOT NULL,
	[productClass] [nvarchar](30) NOT NULL,
	[productClassName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_ProductClass] PRIMARY KEY CLUSTERED 
(
	[productClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Products]    Script Date: 8/14/2013 11:22:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Products](
	[productID] [int] IDENTITY(1,1) NOT NULL,
	[productSerialNo] [nvarchar](50) NOT NULL,
	[productName] [nvarchar](50) NOT NULL,
	[productClassID] [nvarchar](50) NOT NULL,
	[productSubClassID] [nvarchar](50) NOT NULL,
	[productImage] [text] NULL,
	[productUnitPrice] [decimal](18, 2) NOT NULL,
	[productDescription] [text] NULL,
	[productCriticalLevel] [int] NOT NULL,
 CONSTRAINT [PK_Products] PRIMARY KEY CLUSTERED 
(
	[productID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ProductSubClass]    Script Date: 8/14/2013 11:22:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductSubClass](
	[productSubClassID] [nvarchar](50) NOT NULL,
	[productSubClass] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_ProductSubClass] PRIMARY KEY CLUSTERED 
(
	[productSubClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShoppingCart]    Script Date: 8/14/2013 11:22:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoppingCart](
	[recordID] [int] IDENTITY(1,1) NOT NULL,
	[userID] [int] NOT NULL,
	[productID] [int] NOT NULL,
	[quantity] [int] NOT NULL,
	[amount] [decimal](18, 2) NOT NULL,
	[dateCreated] [date] NOT NULL,
	[cartStatus] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_ShoppingCart] PRIMARY KEY CLUSTERED 
(
	[recordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Users]    Script Date: 8/14/2013 11:22:50 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[userID] [int] IDENTITY(1,1) NOT NULL,
	[userName] [nvarchar](50) NOT NULL,
	[userPW] [nvarchar](50) NOT NULL,
	[userType] [int] NOT NULL,
	[validation] [nvarchar](20) NOT NULL,
	[approval] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Users_1] PRIMARY KEY CLUSTERED 
(
	[userID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[CustomersInfo] ON 

INSERT [dbo].[CustomersInfo] ([customerID], [userName], [businessLogo], [businessName], [businessAddress], [businessTelNo], [businessLocalNo], [businessCPNo], [businessFaxNo], [customerImage], [customerLN], [customerFN], [customerEmail]) VALUES (1, N'customer', N'http://localhost:12345/FINAL%20CAPSTONE/assets/img/Business/noImage.jpg', N'Deluxe Plastic Center', N'Valenzuela City', N'(032)361-16-47', N'121', N'09228250188', N'(032)361-16-47', N'http://localhost:12345/FINAL%20CAPSTONE/assets/img/ContactPerson/noImage.jpg', N'Angeles', N'Belen', N'lou_cassandra@yahoo.com')
INSERT [dbo].[CustomersInfo] ([customerID], [userName], [businessLogo], [businessName], [businessAddress], [businessTelNo], [businessLocalNo], [businessCPNo], [businessFaxNo], [customerImage], [customerLN], [customerFN], [customerEmail]) VALUES (2, N'linda', N'http://localhost:12345/FINAL%20CAPSTONE/assets/img/Business/noImage.jpg', N'Cellpack Packaging', N'Valenzuela City', N'(032)361-16-47', N'121', N'09228250188', N'(032)361-16-47', N'http://localhost:12345/FINAL%20CAPSTONE/assets/img/ContactPerson/noImage.jpg', N'Tan', N'Linda', N'lou_cassandra@yahoo.com')
INSERT [dbo].[CustomersInfo] ([customerID], [userName], [businessLogo], [businessName], [businessAddress], [businessTelNo], [businessLocalNo], [businessCPNo], [businessFaxNo], [customerImage], [customerLN], [customerFN], [customerEmail]) VALUES (3, N'gema', N'http://localhost:12345/FINAL%20CAPSTONE/assets/img/Business/noImage.jpg', N'Jolly Plastic', N'Valenzuela City', N'(032)361-16-47', N'121', N'09228250188', N'(032)361-16-47', N'http://localhost:12345/FINAL%20CAPSTONE/assets/img/ContactPerson/noImage.jpg', N'Sy', N'Gema', N'lou_cassandra@yahoo.com')
SET IDENTITY_INSERT [dbo].[CustomersInfo] OFF
SET IDENTITY_INSERT [dbo].[Deliveries] ON 

INSERT [dbo].[Deliveries] ([deliveryID], [orderID], [detailID], [userID], [customerID], [productSerialNo], [productName], [productClass], [productUnitPrice], [quantity], [amount], [orderDate], [deliveryDate], [deliveryMode], [concerns]) VALUES (1, 1, 1, 2, 1, N'0023', N'Yellow 1A', N'PP', CAST(20.00 AS Decimal(18, 2)), 2500, CAST(50000.00 AS Decimal(18, 2)), CAST(0x57370B00 AS Date), CAST(0x70370B00 AS Date), N'Deliver', N'None')
INSERT [dbo].[Deliveries] ([deliveryID], [orderID], [detailID], [userID], [customerID], [productSerialNo], [productName], [productClass], [productUnitPrice], [quantity], [amount], [orderDate], [deliveryDate], [deliveryMode], [concerns]) VALUES (3, 2, 3, 3, 2, N'0008', N'White', N'LDPE', CAST(20.00 AS Decimal(18, 2)), 1250, CAST(25000.00 AS Decimal(18, 2)), CAST(0x62370B00 AS Date), CAST(0x66370B00 AS Date), N'Deliver', N'None')
SET IDENTITY_INSERT [dbo].[Deliveries] OFF
SET IDENTITY_INSERT [dbo].[EmployeesInfo] ON 

INSERT [dbo].[EmployeesInfo] ([employeeID], [userName], [employeeImage], [employeeLN], [employeeFN]) VALUES (1, N'secretary', N'http://localhost:12345/FINAL%20CAPSTONE/assets/img/Employees/noImage.jpg', N'Caballero', N'Nisa')
INSERT [dbo].[EmployeesInfo] ([employeeID], [userName], [employeeImage], [employeeLN], [employeeFN]) VALUES (4, N'warehousemanager', N'http://localhost:12345/FINAL%20CAPSTONE/assets/img/Employees/noImage.jpg', N'Orang', N'Merideth')
INSERT [dbo].[EmployeesInfo] ([employeeID], [userName], [employeeImage], [employeeLN], [employeeFN]) VALUES (5, N'generalmanager', N'http://localhost:12345/FINAL%20CAPSTONE/assets/img/Employees/noImage.jpg', N'Hao', N'Celestino')
SET IDENTITY_INSERT [dbo].[EmployeesInfo] OFF
SET IDENTITY_INSERT [dbo].[Feedback] ON 

INSERT [dbo].[Feedback] ([feedbackID], [userID], [customerID], [feedbackCommSugg], [date], [status]) VALUES (1, 3, 2, N'Still needs improvement.', CAST(0x0000A20500000000 AS DateTime), N'Unread')
INSERT [dbo].[Feedback] ([feedbackID], [userID], [customerID], [feedbackCommSugg], [date], [status]) VALUES (2, 4, 3, N'Keep improving the quality of your products', CAST(0x0000A20D00000000 AS DateTime), N'Unread')
INSERT [dbo].[Feedback] ([feedbackID], [userID], [customerID], [feedbackCommSugg], [date], [status]) VALUES (3, 2, 1, N'Please be standard on the colors', CAST(0x0000A20F00000000 AS DateTime), N'Read')
SET IDENTITY_INSERT [dbo].[Feedback] OFF
SET IDENTITY_INSERT [dbo].[Inquiry] ON 

INSERT [dbo].[Inquiry] ([inquiryID], [inquiryFN], [inquiryLN], [inquiryEmail], [inquiryContactNo], [inquiryMessage], [date], [status]) VALUES (1, N'Marjorie', N'Tan', N'lou_cassandra@yahoo.com', N'09177828280', N'Do you buy plastic pellets already made?', CAST(0x0000A20500000000 AS DateTime), N'Read')
INSERT [dbo].[Inquiry] ([inquiryID], [inquiryFN], [inquiryLN], [inquiryEmail], [inquiryContactNo], [inquiryMessage], [date], [status]) VALUES (2, N'Grace', N'Ceniza', N'lou_cassandra@yahoo.com', N'09188364664', N'How much are you going to buy HDPE plastics?', CAST(0x0000A20500000000 AS DateTime), N'Unread')
INSERT [dbo].[Inquiry] ([inquiryID], [inquiryFN], [inquiryLN], [inquiryEmail], [inquiryContactNo], [inquiryMessage], [date], [status]) VALUES (5, N'Kelvin', N'John', N'lou_cassandra@yahoo.com', N'09177828280', N'What colors of PP plastic pellets you offer?', CAST(0x0000A20F00226DD8 AS DateTime), N'Unread')
SET IDENTITY_INSERT [dbo].[Inquiry] OFF
SET IDENTITY_INSERT [dbo].[Inventory] ON 

INSERT [dbo].[Inventory] ([inventoryID], [productSerialNo], [existingStock], [producedStock], [warehouseStock], [batchNo], [productStatus]) VALUES (1, N'0001', 1250, 1250, 2500, 20130606, N'Active')
INSERT [dbo].[Inventory] ([inventoryID], [productSerialNo], [existingStock], [producedStock], [warehouseStock], [batchNo], [productStatus]) VALUES (2, N'0002', 1250, 1250, 2500, 20130607, N'Active')
INSERT [dbo].[Inventory] ([inventoryID], [productSerialNo], [existingStock], [producedStock], [warehouseStock], [batchNo], [productStatus]) VALUES (3, N'0003', 1250, 1250, 2500, 20130608, N'Active')
SET IDENTITY_INSERT [dbo].[Inventory] OFF
SET IDENTITY_INSERT [dbo].[OrderDetails] ON 

INSERT [dbo].[OrderDetails] ([detailID], [productID], [orderID], [productSerialNo], [productName], [productClass], [productUnitPrice], [quantity], [amount]) VALUES (1, 23, 1, N'0023', N'Yellow 1A', N'PP', CAST(20.00 AS Decimal(18, 2)), 2500, CAST(50000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([detailID], [productID], [orderID], [productSerialNo], [productName], [productClass], [productUnitPrice], [quantity], [amount]) VALUES (3, 8, 2, N'0008', N'White', N'LDPE', CAST(20.00 AS Decimal(18, 2)), 1250, CAST(25000.00 AS Decimal(18, 2)))
INSERT [dbo].[OrderDetails] ([detailID], [productID], [orderID], [productSerialNo], [productName], [productClass], [productUnitPrice], [quantity], [amount]) VALUES (4, 12, 3, N'0012', N'Trans 1A', N'hd-02', CAST(25.00 AS Decimal(18, 2)), 1000, CAST(25000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[OrderDetails] OFF
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([orderID], [userID], [customerID], [orderDate], [deliveryDate], [preferredDelivery], [deliveryMode], [concerns], [amount], [validation], [orderStatus], [readyForDelivery], [deliveryStatus], [paymentStatus], [paymentReceiptNo]) VALUES (1, 2, 1, CAST(0x61370B00 AS Date), CAST(0x65370B00 AS Date), CAST(0x66370B00 AS Date), N'Deliver', N'None', CAST(50000.00 AS Decimal(18, 2)), N'Validated', N'Approved', N'Yes', N'Pending', N'Unpaid', NULL)
INSERT [dbo].[Orders] ([orderID], [userID], [customerID], [orderDate], [deliveryDate], [preferredDelivery], [deliveryMode], [concerns], [amount], [validation], [orderStatus], [readyForDelivery], [deliveryStatus], [paymentStatus], [paymentReceiptNo]) VALUES (2, 3, 2, CAST(0x62370B00 AS Date), CAST(0x66370B00 AS Date), CAST(0x65370B00 AS Date), N'Deliver', N'None', CAST(25000.00 AS Decimal(18, 2)), N'Validated', N'Pending', N'No', N'Pending', N'Unpaid', NULL)
INSERT [dbo].[Orders] ([orderID], [userID], [customerID], [orderDate], [deliveryDate], [preferredDelivery], [deliveryMode], [concerns], [amount], [validation], [orderStatus], [readyForDelivery], [deliveryStatus], [paymentStatus], [paymentReceiptNo]) VALUES (3, 11, 5, CAST(0x6E370B00 AS Date), CAST(0x86370B00 AS Date), CAST(0x85370B00 AS Date), N'Delivery', N'Ayusin nyo buhay nyo!', CAST(25000.00 AS Decimal(18, 2)), N'Validated', N'Approved', N'Yes', N'Pending', N'Unpaid', NULL)
SET IDENTITY_INSERT [dbo].[Orders] OFF
INSERT [dbo].[ProductClass] ([productClassID], [productClass], [productClassName]) VALUES (N'hd-02', N'HDPE', N'High Density Polyethylene')
INSERT [dbo].[ProductClass] ([productClassID], [productClass], [productClassName]) VALUES (N'pe-01', N'LDPE', N'Low Density Polyethylene')
INSERT [dbo].[ProductClass] ([productClassID], [productClass], [productClassName]) VALUES (N'pp-03', N'PP', N'Polypropylene')
SET IDENTITY_INSERT [dbo].[Products] ON 

INSERT [dbo].[Products] ([productID], [productSerialNo], [productName], [productClassID], [productSubClassID], [productImage], [productUnitPrice], [productDescription], [productCriticalLevel]) VALUES (1, N'0001', N'Trans 3A', N'pe-01', N'T3A', N'http://localhost:12345/FINAL%20CAPSTONE/assets/img/Products/PEtrans3A.jpg', CAST(38.00 AS Decimal(18, 2)), N'Transparent', 500)
INSERT [dbo].[Products] ([productID], [productSerialNo], [productName], [productClassID], [productSubClassID], [productImage], [productUnitPrice], [productDescription], [productCriticalLevel]) VALUES (2, N'0002', N'Trans 2A', N'pe-01', N'T2A', N'http://localhost:12345/FINAL%20CAPSTONE/assets/img/Products/PEtrans2A.jpg', CAST(35.00 AS Decimal(18, 2)), N'Transparent', 500)
INSERT [dbo].[Products] ([productID], [productSerialNo], [productName], [productClassID], [productSubClassID], [productImage], [productUnitPrice], [productDescription], [productCriticalLevel]) VALUES (3, N'0003', N'Trans 1A', N'pe-01', N'T1A', N'http://localhost:12345/FINAL%20CAPSTONE/assets/img/Products/PEtrans1A.jpg', CAST(29.00 AS Decimal(18, 2)), N'Transparent', 500)
SET IDENTITY_INSERT [dbo].[Products] OFF
INSERT [dbo].[ProductSubClass] ([productSubClassID], [productSubClass]) VALUES (N'B1A', N'Blue 1A')
INSERT [dbo].[ProductSubClass] ([productSubClassID], [productSubClass]) VALUES (N'B2A', N'Blue 2A')
INSERT [dbo].[ProductSubClass] ([productSubClassID], [productSubClass]) VALUES (N'B3A', N'Blue 3A')
SET IDENTITY_INSERT [dbo].[ShoppingCart] ON 

INSERT [dbo].[ShoppingCart] ([recordID], [userID], [productID], [quantity], [amount], [dateCreated], [cartStatus]) VALUES (1, 2, 12, 12, CAST(300.00 AS Decimal(18, 2)), CAST(0x51370B00 AS Date), N'Pending')
INSERT [dbo].[ShoppingCart] ([recordID], [userID], [productID], [quantity], [amount], [dateCreated], [cartStatus]) VALUES (2, 3, 12, 12, CAST(300.00 AS Decimal(18, 2)), CAST(0x51370B00 AS Date), N'Pending')
INSERT [dbo].[ShoppingCart] ([recordID], [userID], [productID], [quantity], [amount], [dateCreated], [cartStatus]) VALUES (3, 4, 7, 510, CAST(12750.00 AS Decimal(18, 2)), CAST(0x66370B00 AS Date), N'Pending')
SET IDENTITY_INSERT [dbo].[ShoppingCart] OFF
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([userID], [userName], [userPW], [userType], [validation], [approval]) VALUES (1, N'secretary', N'J8VIVUAek0k=', 2, N'Validated', N'Approved')
INSERT [dbo].[Users] ([userID], [userName], [userPW], [userType], [validation], [approval]) VALUES (2, N'customer', N'J8VIVUAek0k=', 1, N'Validated', N'Approved')
INSERT [dbo].[Users] ([userID], [userName], [userPW], [userType], [validation], [approval]) VALUES (3, N'linda', N'J8VIVUAek0k=', 1, N'Validated', N'Approved')
SET IDENTITY_INSERT [dbo].[Users] OFF
